@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  margin: 0; 
  padding: 0; 
  font-family: 'Inter';
  }
  h1, h2 {
    font-size: unset; 
    margin: 0;   
    padding: 0;   
    font-weight: normal; 
  }
.app{
  background-image: url('../assets/images/bg.png');
  background-position: top 3.5em center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app-container{
  margin: 0 auto;
  width: 85%;
}
.menu-container {
  padding: 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu{
  color: #35B8BE;
  font-size: 3.4em;
  letter-spacing: 0.01em;
}
.menu-text{
  line-height: 1.8em;
  width: 39%;
  text-align: center;
  color: #546285;
  padding: 1em 0;
  letter-spacing: 0.03em;
}
.menu-buttons{
  display: flex;
  flex-direction: row;
  gap: 1.9em;
}