.item-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2em;
    margin: 3em 4em;
  }
  
  .item-card {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 2em 1.5em;
    border: 0.1em solid rgba(53, 184, 190, 0.15);
    border-radius: 0.5em;
    max-width: 100%;
  }
  
  .item-card-left {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }
  
  .item-img {
    height: 10em;
    text-align: center;
  }
  
  .item-card-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .item-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.25em;
  }
  
  .product-title {
    font-size: 1.1em;
    color: #08090A;
    margin: 0;
  }
  
  .card-price {
    color: #35B8BE;
    text-align: right;
  }
  
  .item-description {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 0.65em;
    text-align: left;
  }
  
  .item-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 0em; 
}
  
  .item-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.55em 0.6em 0.55em 0em;
    border-radius: 0.3em;
    text-align: center;
  }
  .item-amount input {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    appearance: textfield;
  }
  
  .item-card.order-mode {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  
    .order-card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 2em;
    }

    .order-left {
      display: flex;
      align-items: center;
      gap: 1em;
  
      .item-img {
        height: 6em;
        border-radius: 0.5em;
      }
  
      .product-title {
        font-size: 1em;
        margin: 0;
      }
    }
  
    .order-right {
      display: flex;
      align-items: center;
      gap: 1.25em;
  
      .card-price {
        font-size: 1em;
      }
  
      input {
        width: 60px;
        height: 36px;
        font-size: 1em;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
  
      button {
        padding: 0.5em 1.4em;
      }
    }
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
