.container-header {
  display: grid;
}

.navbar {
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav li {
  list-style: none;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.navbar-nav li:hover {
  color: var(--accent-color);
}
button.theme-button{
  background-color: var(--switch-color);
  color: var(--text-color);
  border-style: none;
  border-radius: 0.3em;
  padding: 0.5em; }
